spring:
  jpa:
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 20
        jdbc.batch_size: 20
  datasource:
    url: jdbc:h2:mem:voting
    username: sa
    password:

  cache:
    cache-names: restaurants
    caffeine.spec: maximumSize=500,expireAfterWrite=60s

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    root: WARN
    ru.develop.restaurantvoting: DEBUG

springdoc.swagger-ui.path: /